#include "Bumon42.dtsi"

/ {
	chosen {
		zmk,kscan = &kscan0;
	};

  kscan0: kscan_0 {
      compatible = "zmk,kscan-gpio-matrix";
      label = "KSCAN";


      diode-direction = "row2col";

      row-gpios
            = <&gpio0 9 GPIO_ACTIVE_HIGH>
            , <&gpio0 28 GPIO_ACTIVE_HIGH>
            , <&gpio1 13 GPIO_ACTIVE_HIGH>
            , <&gpio0 2 GPIO_ACTIVE_HIGH>
            ;
	};

};

&right_encoder {
    status = "okay";
};
