if SHIELD_BUMON42

config ZMK_KEYBOARD_NAME
    default "⌨Bumon42"
endif

CONFIG_PINCTRL=y

CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_ZMK_RGB_UNDERGLOW=y
# Use the STRIP config specific to the LEDs you're using
CONFIG_WS2812_STRIP=y

