#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
// changed lwr and rse
#define DEF 0
#define GAM 1
#define RSE 2
#define LWR 3
#define ADJ 4
#define FN  5


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
          bindings = <
            &kp ESC  &kp Q   &kp W  &kp E  &kp R  &kp T    &kp Y  &kp U  &kp I  &kp O   &kp P  &kp BSPC
            &kp TAB    &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L         &kp ENTER
            &kp LSHFT   &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA &kp DOT   &mt RSHIFT SLASH
            &kp LCTRL &kp LGUI &kp LALT &lt RSE SPACE &lt LWR SPACE &kp BSLH   &lt FN RGUI  &kp RCTRL
			       >;
          sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;

        };

        game_layer {
          bindings = <
            &kp ESC  &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y  &kp U  &kp I  &kp O   &kp P  &kp DEL
            &kp TAB    &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L         &kp ENTER
            &kp LSHFT   &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA &kp DOT   &mt RSHIFT SLASH
            &kp LCTRL &lt FN RGUI &kp LALT  &kp SPACE &lt RSE SPACE &lt LWR SPACE  &lt FN RGUI &kp RCTRL
             >;
          sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
        raise_layer {
          bindings = <
            &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9 &kp N0  &kp DEL
            &kp CAPS    &none  &none  &none  &none  &kp KP_MINUS  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT          &kp INS
            &kp LSHFT          &none  &none  &none  &none &kp KP_PLUS  &none  &none  &none  &kp DOT          &kp RSHFT
            &none   &none   &none         &kp SPACE           &lt ADJ SPACE                 &kp C_PREV  &kp C_PP  &kp C_NEXT
			       >;
          sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;

        };
        lower_layer {
          bindings = <
            &none &none  &none  &none  &none  &none    &none  &none    &none    &kp LBKT  &kp RBKT     &kp BSLH
            &none   &none    &none  &none   &none   &none   &kp MINUS  &kp EQUAL  &kp SEMI  &kp SQT &none
            &kp LSHFT   &none    &none  &none   &none   &none    &none  &none  &none  &none     &kp RSHFT
            &none   &none   &none       &lt ADJ SPACE           &kp SPACE                   &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP
			       >;
          sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;

        };
        adjust_layer {
          bindings = <
            &ext_power EXT_POWER_TOGGLE_CMD  &none  &none  &none  &none  &none   &none  &none  &none &kp MINUS &kp EQUAL &none
            &none  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &rgb_ug RGB_EFF   &kp HOME  &none  &none  &kp END  &none
            &none  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &rgb_ug RGB_EFR   &none  &none  &none  &none  &none
            &none  &none  &none  &none  &none  &none   &none  &rgb_ug RGB_TOG
			       >;
          sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;

        };

        fn_layer {
          bindings = <
            &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
            &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &none  &none  &none  &none  &sys_reset
            &none &out OUT_USB  &out OUT_BLE  &out OUT_TOG  &none  &none  &none   &none  &none  &none  &bootloader
            &to DEF  &to GAM  &none  &none  &none  &none   &none  &none
			       >;
          sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
    };
};

